<h1><%= @gg %></h1> <!-- hice esta vista 
para probar que un el metodo de un controller solo pasa la variable @ de ese metodo a la ruta
asociada en routes.rb, si el metodo es "new" entonces se asocia a la carpeta del controller con un 
template new.html.erb, solamente en ese template puedo ver la variable del metodo

esta vista no la uso para nada en realidad, porque welcome solo tiene asociada index para hacer el control
de login de usuarios en la pantalla de bienvenida